@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в приложение TodoListApp</h1>
    <p>
        <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Перейти к списку дел</a>
    </p>
</div>
